<div class="about-holder">
  <p>yfλ (yf Lambda) is an unofficial contract for staking your yfβ to earn dynamic NFTs. You can learn more about yfβ <a href="https://yfbeta.finance/">here</a>.</p>
  <p>Here&#39;s how to get started:</p>
  <ol>
  <li>Head to the <a href="./stake">Stake</a> tab and go to Manage Stake on the right card. Enter in how much yfβ you want to stake, and then click Stake.</li>
  <li>After the transaction is confirmed, you can mine a Gem that represents your stake. Click the Mine Gem button and approve the transaction.</li>
  <li>To withdraw your stake at any time, click the Withdraw All button. Gems represent your staked amount, so be aware that hitting Withdraw will cause your Gem to stop growing.</li>
  <li>Once you&#39;ve mined a Gem, you can see it in the <a href="./gem">Gem tab</a>. Gems are ERC-721 compliant, so you can also trade and view them on OpenSea.</li>
  </ol>
  <p>What&#39;s next for the project?</p>
  <p>I&#39;ll be continuing front-end updates, and staked tokens will continue to have their NFTs evolve over time.</p>
</div>